#wall {
    width: 100%;
    height: 641px;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 60% 40%;
}

.content {
    width: 100%;
    height: auto;
    padding-top: 180px;
    padding-left: 120px;
}

.content h1 {

    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #333333;
}

.content p {
    position: absolute;
    top: 350px;
    left: 125px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #555555;
}

.btns {
    padding-top: 140px;
    padding-left: 5px;

}

.btns button {
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    background-color: #D4AF37;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.btns button:hover {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #B9962D;
    cursor: pointer;
}

.read {
    margin-left: 40px;
}



.actor {
    position: relative;
    margin-top: 90px;
    background-image: url('D:/Full Stack Project/Frontend/notion-app/public/Images/handsome.png');
    background-repeat: no-repeat;
    background-size: 500px 650px;

}