/* *{
    border: 1px solid red;
}   */

.Nav{
    width: 1200px;
    height: 50px;
    position: absolute;
    margin-top: 20px;
    margin-left: 80px;
    border-radius: 10px;
    
    
    
}
.logo{

    position: relative;
    top: 10px;
    font-size: 25px;
    color: #D4AF37;
    font-family: Arial, Helvetica, sans-serif;
}
 ul{
    margin-left: 600px;
}
.list {
    position: relative;
    top: -60px;
}

ul li{
    
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: darkgreen;
    display: inline-block;
}
ul li input{
    width: 250px;
    height: 30px;
    position: relative;
    top: 15px;
    margin-right: 10px;
    border-radius: 20px;
    border: none;
}
ul li img{
    position: relative;
    top: 25px;
    width: 25px;
    height: 25px;
}